<div id="fenix-footer" class="container-fluid">
<div class="row">
<footer id="footer" data-hook>
 <div id="footer-left" class="col-md-11" data-hook>
 <small>Copyright &copy; 2015 <%= link_to 'Casa dos Quadros', 'http://www.casadosquadros.com.br', target: "_new" %></small>
 </div>	
 <div id="footer-right" class="col-md-1" data-hook></div>
</footer>
</div>
</div>