<div id="fenix-header" class="container-fluid">
<div class="row">
<header id="header" data-hook>
 <figure id="logo" class="col-sm-6" data-hook><%= logo %></figure>
 <div id="header-right" class="col-sm-6"><%= render :partial => 'spree/shared/nav_bar' %></div>
</header>
</div>
</div>