</td></tr>
<tr><td class="container-padding" bgcolor="#ffffff" style="background-color: #ffffff; padding-left: 15px; padding-right: 15px; font-size: 10px; line-height: 14px; font-family: Ubuntu, sans-serif; color: #333;">
Este email foi enviado porque você está incrito na <%= link_to 'Loja Casa dos Quadros', 'http://loja.casadosquadros.com.br', target: "_new" %>.<br>
Pode encontrar-nos em:<br>
Copyright &copy; 2015 <%= link_to 'Casa dos Quadros', 'http://www.casadosquadros.com.br', target: "_new" %>
</td></tr>
</table>
<!--/600px container -->
</td></tr>
</table>
<!--/100% wrapper-->
<br><br>
</body>
</html>